/* CSS RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  background: white;
  color: brown;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #ccccff 0%, #ffccff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem 6rem 0rem;
}

a {
  font-style: italic;
  color: hsl(285, 92%, 24%);
  text-shadow: 5px 5px 7px #575159;
}

footer {
  padding-top: 6rem;
  font-size: 1.4rem;
  text-align: center;
}

/* HEADER*/
.header {
  font-weight: 200;
  font-size: 2.4rem;
  width: 30rem;
  text-align: center;
  color: hsl(0, 0%, 0%);
}

.header-bold {
  font-weight: 600;
}

.copy-text {
  color: hsl(225, 2%, 35%);
  width: 30rem;
  text-align: center;
  padding: 1.5rem 0 6rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

/* CARDS*/

.feature-card {
  display: flex;
  flex-direction: column;
  width: 31.5rem;
  height: 25rem;
  border-radius: 1rem;
  padding: 3rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1.3rem 1.5rem 0 rgba(216, 226, 236, 0.7);
  border-radius: 67px;
}

#supervisor-hover:hover{
  cursor: pointer;
  background-color: hsl(180, 62%, 55%);
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(17, 200, 90), 0 -10px 20px #05943c;

}

#team-builder-hover:hover{
  cursor: pointer;
  background-color: hsl(0, 78%, 62%);
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(207, 27, 27), 0 -10px 20px #a90da2;

}
#karma-hover:hover{
  cursor: pointer;
  background-color: hsl(34, 97%, 64%);
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(142, 14, 90), 0 -10px 20px #e0d31e;

}
#calculator-hover:hover{
  cursor: pointer;
  background-color: hsl(212, 86%, 64%);
  transition: all 2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(6, 55, 132), 0 -10px 20px #5a81cb;
}

.feature-card::before {
  content: "";
  width: 100%;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-card__container--middle {
  display: flex;
  flex-direction: column;
}

.feature-team::before {
  background-color: hsl(0, 78%, 62%);
}

.feature-supervisor::before {
  background-color: hsl(180, 62%, 55%);
}

.feature-karma::before {
  background-color: hsl(34, 97%, 64%);
}

.feature-calculator::before {
  background-color: hsl(212, 86%, 64%);
}

.feature-calculator {
  margin-bottom: 0;
}

.feature-card__img {
  width: 6.4rem;
  align-self: flex-end;
}

.feature-card__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 0%);
  font-size: 2rem;
}

.feature-card__text {
  color: hsl(0, 0%, 0%);
  margin-bottom: 4rem;
  font-size: 1.3rem;
  font-weight: 400;
}

@media only screen and (min-width: 1000px) {
  footer {
    font-size: 1.6rem;
  }

  .feature-card {
    border-radius: 5px;
    width: 35rem;
  }

  .feature-card__container--middle {
    padding: 0 2rem 0 2rem;
  }

  .feature-card__container {
    flex-direction: row;
  }

  .header {
    font-size: 3.6rem;
    width: 500px;
  }

  .copy-text {
    font-size: 1.5rem;
    width: 50rem;
  }

  .feature-card__text {
    font-size: 1.3rem;
  }
}
